<div class="locker">
  <img src="/assets/images/logo.png" style="width: 50%; height: 50%;" />
  <form>
    <div class="form-group">
      <md-input-container>
        <input mdInput type="text" #username placeholder="Enter your email">
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>
        <input mdInput type="password" #password placeholder="Enter your password">
      </md-input-container>
    </div>
    <button md-raised-button type="submit" [disabled]='username.value=="" || password.value==""' (click)="auth.login(username.value, password.value)"
      *ngIf="!auth.isAutenthicating">Login</button>
    <button md-raised-button disabled type="submit" *ngIf="auth.isAutenthicating">Logging In...</button>
  </form>
</div>