<md-toolbar class="header-toolbar" color="primary">
  <span>
    <img src="/assets/images/logo.png" style="width: 24px; height: 24px;" />
  </span>
  <button md-button routerLink="/home" routerLinkActive="active">In&iacute;cio</button>
  <button md-button [mdMenuTriggerFor]="campaigns" [ngClass]="{'active': router.url.indexOf('/campaigns/') > -1}">Campanhas</button>
  <md-menu #campaigns="mdMenu">
    <button md-menu-item routerLink="/campaigns/new" routerLinkActive="active">Cadastrar</button>
    <button md-menu-item routerLink="/campaigns/search" routerLinkActive="active">Pesquisar</button>
  </md-menu>
  <!-- NOT YET IMPLEMENTED
  <button md-button [mdMenuTriggerFor]="lottery">Sorteio</button>
  <md-menu #lottery="mdMenu">
    <button md-menu-item>Atual</button>
    <button md-menu-item>Antigos</button>
  </md-menu>
  -->
  <span class="spacer"></span>
  <button md-button (click)="auth.logout()" *ngIf="auth.isAuthenticated() && auth.userProfile">
    {{ auth.userProfile['nickname'] }}
    <md-icon>exit_to_app</md-icon>
  </button>
  <button md-button disabled *ngIf="!auth.isAuthenticated()">
    Logging out...
  </button>
</md-toolbar>
<br />
<br />
<router-outlet></router-outlet>