<div *ngIf="registering == false && ready == true">
  <div *ngIf="!saved">
    <form [formGroup]="campaignRegisterForm" novalidate (ngSubmit)='submitCampaign(campaign)'>
      <div class="form-group">
        <md-input-container>
          <input mdInput type="text" formControlName="id" [ngModel]="campaign.id" placeholder="ID">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container>
          <input mdInput type="text" formControlName="name" [(ngModel)]="campaign.name" placeholder="Nome">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-select formControlName="status" placeholder="Status" [(ngModel)]="campaign.status">
          <md-option *ngFor="let field of fields" [value]="field.value">
            {{ field.viewValue }}
          </md-option>
        </md-select>
        <br />
      </div>
      <div class="form-group">
        <md-input-container>
          <textarea mdInput mdTextareaAutosize type="text" maxlength="2500" #description formControlName="description" [(ngModel)]="campaign.description"
            placeholder="Descri&ccedil;&atilde;o"></textarea>
          <md-hint align="end">{{description.value.length}} / 2500</md-hint>
        </md-input-container>
      </div>
      <div formArrayName="pictures">
        <div *ngFor="let picture of campaignRegisterForm.controls.pictures.controls; let i = index;">
          <md-input-container>
            <input mdInput type="text" [formControlName]="i" [(ngModel)]="campaign.pictures[i].url" [placeholder]="(campaign.pictures[i].banner == '1') ? 'URL do Banner' : 'URL da foto'">
            <md-hint *ngIf="i != 0" align="end" class="remove" (click)="removePicture(campaign, campaign.pictures[i])">
              <strong>Remover</strong>
            </md-hint>
          </md-input-container>
        </div>
      </div>
      <a md-raised-button (click)="addPicture(campaign)">Adicionar foto</a>
      <button md-raised-button type="submit" [disabled]='!campaignRegisterForm.valid || campaign.pictures.length < 1'>{{ submitBtnLabel }}</button>
    </form>
  </div>
  <div *ngIf="saved">
    <div class="centered">
      <h1>Campanha Salva !</h1>
      <button md-raised-button (click)="refreshCampaign()">Nova Campanha</button>
    </div>
  </div>
</div>
<div *ngIf="registering == true || ready == false">
  <md-spinner class="centered"></md-spinner>
</div>