<div *ngIf="searching == false">
  <form class="centered" [formGroup]="campaignSearchForm" novalidate *ngIf="campaigns.length == 0" (ngSubmit)='retrieveCampaigns(campaignSearchForm.get("searchField").value, campaignSearchForm.get("searchValue").value)'>
    <div class="form-group">
      <md-select formControlName="searchField" placeholder="Campo de pesquisa">
        <md-option *ngFor="let field of fields" [value]="field.value">
          {{ field.viewValue }}
        </md-option>
      </md-select>
    </div>
    <div class="form-group">
      <md-input-container>
        <input mdInput type="text" formControlName="searchValue" placeholder="O que voc&ecirc; procura?">
      </md-input-container>
    </div>
    <button md-raised-button type="submit" [disabled]='
      campaignSearchForm.get("searchField").value == null ||
      campaignSearchForm.get("searchField").value == "" ||
      campaignSearchForm.get("searchValue").value == null ||
      campaignSearchForm.get("searchValue").value == ""'>Pesquisar</button>
  </form>

  <div *ngIf="campaigns.length > 0">
    <button md-raised-button layout-align="end end" type="submit" (click)="clearSearch();">Nova busca</button>
    <br />
    <br />
    <h2>{{ campaigns.length }} campanha(s) encontrada(s)!</h2>
    <div *ngFor="let campaign of campaigns">
      <md-card>
        <md-card-title align="center">{{ campaign.name }}</md-card-title>
        <md-card-subtitle align="center">{{ campaign.id }} ({{ campaign.status }}) - {{ campaign.votes }} vote(s)</md-card-subtitle>
        <br />
        <img md-card-image src="{{ campaign.pictures[0].url }}">
        <br />
        <md-card-content align="center" style="white-space:pre-wrap;">{{ campaign.description }}</md-card-content>
        <br />
        <md-card-actions align="end">
          <button md-raised-button class="danger" [disabled]="disableButton[campaign.id]" (click)="deleteCampaign(campaign)">Remover</button>
          <button md-raised-button (click)="editCampaign(campaign)">Alterar</button>
        </md-card-actions>
      </md-card>
      <br />
    </div>
  </div>
</div>
<div *ngIf="searching == true">
  <md-spinner class="centered"></md-spinner>
</div>